<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">
    <servlet>
        <servlet-name>response</servlet-name>
        <servlet-class>com.zyp.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/down</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.zyp.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.zyp.servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
</web-app>
